<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rubangakeneinnojoseph.gu.ac.ug.agecalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AGE CALC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".Screen" android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calc" android:theme="@style/Theme.Design.NoActionBar"></activity>
    </application>

</manifest>